* {
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    flex-wrap: wrap;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}